.system-cont {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: start;
    height: 100%;
    width: 100%;
    padding: 0 15px;
    gap: 10px;
}
.system-cont .system-menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 100%;
    padding-top: 65px;
}
.system-cont h1 {
    margin: 0;
    font-size: 1.25em;
}
.system-menu button {
    position: absolute;
    left: 0;
}
.system-cont .apertura {
    text-align: center;
    width: 250px;
}