.input-comp {
  box-sizing: border-box;
  outline: none;
  height: 100%;
  padding: 0 5px;
  border-radius: 5px;
  background-color: var(--color-white-2);
  border: 2px solid var(--color-white-3);
}
.input-comp:focus-visible {
  border: 2px solid var(--color-green-1);
}
.input-comp::placeholder {
  color: var(--color-grey-1);
}
@media (prefers-color-scheme: dark) {
    .input-comp {
        background-color: var(--color-grey-2);
        color: var(--color-white-2);
    }
    .input-comp::placeholder {
        color: var(--color-grey-1);
    }
}