.login-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.login-inputs input {
    height: 35px;
    width: 220px;
}
.login-cont button {
    margin-top: 25px;
    height: 35px;
    width: 100%;
}
